@charset "utf-8";

@media (max-width: 800px) {

header {
  font-size: 16px;
}

.onlySP {
  display: block;
}

.header1 {
  font-size: 16px;
}

header h1 {
  font-size: 48px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header2  {
  font-size: 18px;
  padding-top: 115px;
}

header h2 {
  font-size: 24px;
  padding-top: 115px;
  padding-bottom: 35px;
}

header a {
  background-color: #8ABFA1;
  display: block;
  font-size: 20px;
  padding: 15px 50px;
  border-radius: 33px;
  width: 240px;
  margin: 0 auto;
}

.aboutSec {
  display: block;
  background-color: #F9F9F9;
  padding-bottom: 70px;
}

.aboutSec img {
  display: none;
}

.aboutSec h2 {
  padding-top: 125px;
  font-size: 48px;
}

.about {
  font-size: 26px;
  padding-top: 35px;
  position: relative;
  padding-bottom: 50px;
}

.about::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 300px;
  height: 2px;
  background: #8ABFA1;
}

.aboutSec h3 {
  font-size: 26px;
  padding-top: 50px;
}

.aboutSen {
  font-size: 16px;
  line-height: 3.25;
  padding-top: 70px;
}

.aboutName {
  font-size: 20px;
  padding-top: 15px;
}

.works {
  font-size: 48px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 35px;
}

.worksSec {
  text-align: center;
  display: block;
}

.worksSec img {
  width: 100%;
  height: 100%;
}

.worksSec h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 10px;
}

.worksSec > p {
  text-align: center;
  font-size: 16px;
}

main a {
  background-color: #8ABFA1;
  color: #ffffff;
  display: block;
  font-size: 20px;
  padding: 15px 50px;
  border-radius: 33px;
  width: 240px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 40px;
}

.contactSec {
  text-align: center;
}

.contact {
  padding-top: 60px;
  font-size: 48px;
  padding-bottom: 20px;
}

.question {
  font-size: 26px;
  position: relative;
  padding-bottom: 40px;
}

.question::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 300px;
  height: 2px;
  background: #8ABFA1;
}

.toi {
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
}

input {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #A4A0A0;
  border-radius: 4px;
  margin-bottom: 25px;
}

input::placeholder {
  color: #A4A0A0;
  font-size: 16px;
}

textarea {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #A4A0A0;
  border-radius: 4px;
  margin-bottom: 45px;
}

textarea::placeholder {
  color: #A4A0A0;
  font-size: 16px;
}

.submit {
  text-align: center;
}

input[type="submit"] {
  width: 240px;
  background-color: #8ABFA1;
  color: #ffffff;
  font-size: 20px;
  border-radius: 33px;
  padding: 15px 50px;
  margin-bottom: 45px;
}

.contactSec h3 {
  font-size: 24px;
}

.add {
  font-size: 16px;
  padding-bottom: 20px;
}

.mail {
  font-size: 16px;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #8ABFA1;
  height: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
}